/* font-family: 'Mali', cursive;
font-family: 'Acme', sans-serif;
font-family: 'Gloria Hallelujah', cursive;
font-family: 'Righteous', cursive;
font-family: 'Permanent Marker', cursive; */


body {

    font-family: 'Righteous', cursive;
    letter-spacing: 1px;
    color: #777777;
}

html, body {
    height: 98%;
    margin: 0px;
    min-width: 100%;
}

h1, h2 {
    font-family: 'Permanent Marker', cursive;
    color: #4aaaa5;
}

h1 {
    color: #2b869f;
    text-align: center;
    padding: 20px;
    margin-top: 0px;
}

header {
    background: url(../images/header.jpg);
    height: 110%;
    /* margin: -5px -20px 20px -20px; */
}
label {
    font-size: 25px;
    color: #4aaaa5;
    display: none;
}

.col-1 {
    width:80%;
}

.col-2 {
    width:83%;
}

nav {
    z-index: 999;
    padding-top: 20px;
    text-align: center;
    margin-top: -20px;
    position: fixed;
    width: 100%;
}


ul li {
    display: inline-block;    
}

ul{
    background: rgb(52, 52, 52);
    margin: 0px;
    padding: 5px;
}

nav a {
    
    text-decoration: none;
    color: gray;
    font-size: 15px;
    padding: 0px 20px;
    border-right: 1px solid #cccccc;
    position: relative;
}
#home:hover{
    color: white;
}


#contact:hover {
    color: white;
}

#about:hover {
    color: white;
}

#portfolio:hover {
    color: white;
}

#joel {
    position: relative;
    width: 30%;
    height: auto;
    padding: 20px;
    float: left;
}

p {
    padding: 20px;
    line-height: 20px;
}

#contact {
    border-right: none;
    padding-right: none;
}
/* 
.headwrapper, .contentwrapper {
    width: 959px;
    margin: 0 auto;
} */
.menu {
    background: #3c3c3c;
    padding: 2px;
    width: 100%;
}


footer {
    background: #3c3c3c;
    text-align: center;
    height: 75px;
    border-top: 5px solid #4aaaa5;
}

.copy {
    padding-top: 50px;
    bottom: 0px;
    color: white;
}

form {
    padding-left: 40px;
}

#submit {
    background: #4aaaa5;
    color: #ffffff;
    border: 1px outset #cccccc;
    padding: 8px 20px;
    font-size: 15px;
}

#submit:hover {
    border: 3px outset #cccccc;
    padding: 6px 18px;
}

#submit:active {
    border: 1px outset #666;
    transform: translateY(1px);
}

#submit:focus {
    outline:0;
}

#mario {
    text-align: center;
    line-height: 40px;
}

#joelLee{
    display: block;
    margin:2em auto 0px auto;
    font-size:100px;
    text-align: center;
    text-decoration: none;
    color: #2b869f;
    text-shadow: 1px 1px white;
}

.input {
    border: 1px inset #cccccc;
    margin-top: 5px;
    padding: 5px;
    width: 865px;
}

.clearfix:after {
    display:block;
    content:"";
    clear: both;
}

.pics {
    float: left;
    margin: 5%;
    width: 30%;
    height: 25%;    
    text-decoration: none;
}

.pics:hover{
    border: 3px outset #cccccc;
    width: 294px;
    height: 244px; 
}

.pics:active {
    border: 1px outset #666;
    transform: translateY(5px);
    width: 296px;
    height: 246px;
}

#hangman {
    background: url(../images/hangman.jpeg);
    background-size: 120%;
    background-position: -40px -80px;
}

#rpg {
    background: url(../images/RPG.jpg);
    background-size: 100%;

}

#trivia {
    background: url(../images/spacetrivia.png);
    background-size: 150%;
    background-position: center;
}

#rutgers {
    background: url(../images/cargiphy.png);
    background-size: 150%;
    background-position: center;
}

#rock {
    background: url(../images/rock.jpg);
    background-size: 110%;
    background-position: -20px 0px;
    margin-bottom: 60px;
}

#goal {
    background: url(../images/goal.png);
    background-size: 115%;
    background-position: -13px 0px;
    text-decoration: none;
}

h3 {
    text-align: center;
    color: #ffffff;
    text-decoration: none;
}

.things, img {
    justify-content:  center;
    display: flex;
}

h2 {
    text-align: center;
    padding:20px 0px;
    border-bottom: 3px solid grey;
    margin: 0px 35% 20px 35%;
}   

.container {
    background: #ffffff;
    min-height: 110%; 
    min-width: 100%;
    margin: 0px;
    padding: 0px;
}

#aboutC{
    background: url(../images/about.jpg) center fixed;
    text-shadow: 1px 1px black;
}

#portfolioC {
    background: url(../images/portfolio.png)center;
    text-shadow: 1px 1px white;
}

#contactC {
    background: url(../images/contact.jpg)center fixed;
    text-shadow: 1px 1px black;

}

@media only screen and (max-width: 1010px) {
    .menu {
        text-align: center;
        display: none;
    }
    label {
        cursor: pointer;
        text-align: right;
      }
      .menu a {
          background: #4aaaa5;
          color: #ffffff;
          margin: none;
      }
      .col-2 {
          width:100%;
      }
      .input {
          width: 85%;
      }
      h1 {
          padding-left:25px;
      }
}


@media only screen and (max-width: 667px) {
      .pics {
        margin: 0px;
    }
    .things {
        margin: 0px;
        display: block;
    }
    #hangman {
        justify-content: center;
        margin:0% 20%;
        margin-bottom: 25px;
        min-width: 250px;
        max-width: 300px;
        display: block;
    }
    #rpg {
        justify-content: center;
        margin:0% 20%;
        margin-bottom: 25px;
        min-width: 250px;
        max-width: 300px;
        display: block;
    }
    #trivia {
        justify-content: center;
        margin:0% 20%;
        margin-bottom: 25px;
        min-width: 250px;
        max-width: 300px;
        display: block;
    }
    #rutgers {
        justify-content: center;
        margin:0% 20%;
        margin-bottom: 25px;
        min-width: 250px;
        max-width: 300px;
        display: block;
    }   
    #rock {
        justify-content: center;
        margin:0% 20%;
        margin-bottom: 25px;
        min-width: 250px;
        max-width: 300px;
        display: block;
    } 
    #goal {
        justify-content: center;
        margin:0% 20%;
        margin-bottom: 25px;
        min-width: 250px;
        max-width: 300px;
        display: block;
    }
}

